<?xml version="1.0" encoding="utf-8" ?>
<bundles version="1.0">
  <styleBundle path="~/Content/bootstrap/css">
    <include path="~/Content/bootstrap.css" />
    <include path="~/Content/font-awesome/css/font-awesome.css" />
    <include path="~/Content/sb-admin-2/css/sb-admin-2.css" />
    <include path="~/Content/sb-admin-2/css/jquery.datetimepicker.css" />
  </styleBundle>
</bundles>